<br>
<br class="list-group">
    <li class="list-group-item active"><b></b></li>
    <li><a href="{% url 'home' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">Home </a>  </li>

    <li><a href="{% url 'personal' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">Personal </a>  </li>
    <li><a href="{% url 'educational' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">Educational </a>  </li>
    <li><a href="{% url 'interests' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">Interests </a>  </li>
    <li><a href="{% url 'sale' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">Sale </a>  </li>
    <li><a href="{% url 'rolemodel' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">rolemodel</a>  </li>
    <li><a href="{% url 'showMyData'%}"
            class="list-group-item list-group-item-action list-group-item-light text-primary">ShowMyData</a>  </li>
    <li><a href="{% url 'listProduct'%}"
            class="list-group-item list-group-item-action list-group-item-light text-primary">ListProduct</a>  </li>
    <li><a href="{% url 'inputProduct'%}"
            class="list-group-item list-group-item-action list-group-item-light text-primary">InputProduct</a>  </li>
</br>
</ul>