{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}


    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>


    <div class="container-fluid text-warning text-center">
       <br><br> <h1><img class='card-img-top' src="{% static 'images/เถื่อน.jpg' %}" alt="Card image"></h1>
        <p>
        <h2></h2>
    </div>
    <br>
        <div class="container-lg text-warning">
    <center><h2><b>วรรณสิงห์ ประเสริฐกุล </b></h2></center></div>

    <div class="container mt-3 text-white">
        <b>"สิงห์"</b>
        <h><b>เกิดในวันที่ 9 สิงหาคม พ.ศ. 2527 ที่กรุงเทพมหานคร และได้มาเติบโตที่ จังหวัดตรัง
            เป็นพิธีกรรายการทางโทรทัศน์ระบบดิจิทัล
            ช่องจีเอ็มเอ็ม 25 และทางเคเบิลทีวี นักแสดง นายแบบโฆษณา นักเขียน วีเจรายการเพลง
            นักดนตรี นักพัฒนาสังคม ผู้ผลิตรายการสารคดี ได้แสดงภาพยนตร์เรื่องแรก อินทรีแดง รับบท "หมวดชาติ"
            ซึ่งเป็นคู่ปรับของอินทรีแดง</b></h>
        <p></p>
        <div class="alert alert-success">
            <strong>จุดเริ่มต้นและที่มาของไอเดียการทำรายการเถื่อนทราเวล</strong><br>
            <a>จุดเริ่มต้นมีสองอย่าง หนึ่งคือในฐานะนักทำสารคดี ช่วงแรกก็ไปในฐานะพิธีกรที่ไม่รู้เรื่องอะไร
                แต่มีโอกาสได้เดินทางเยอะมากในช่วงเวลาประมาณ 8-9 ปี เริ่มจากประเทศธรรมดาอย่างอินเดีย จีน ญี่ปุ่นก่อน
                บางประเทศที่เถื่อน ๆ
                ก็มักมีเรื่องคาใจเสมออย่างประเทศรวันดา จนสุดท้ายได้ไปเรียนรู้เรื่องการฆ่าล้างเผ่าพันธุ์ของที่นั่นเข้า
                ต่อมาก็ไปอิสราเอล ปาเลสไตน์
                ส่วนอีกด้านเป็นเรื่องส่วนตัว ช่วงที่เริ่มรายการเถื่อนทราเวลใหม่ ๆ เป็นช่วงที่ชีวิตแย่มาก ท้อกับทุกอย่าง
                รายการที่เคยทำปิดตัว ไม่รู้จะทำอะไรต่อ
                รับงานไปเรื่อย แต่มันไม่ใช่งานที่เรามี Passion อะไร เพียงหาเงินเลี้ยงชีพบวกกับมีปัญหาเรื่องความสัมพันธ์
                ช่วงนั้นคล้ายเป็นคนซึมเศร้าเลยอยากรักษาตัวเอง
                อยากที่จะทำให้ชีวิตดีขึ้น จึงตัดสินใจซื้อตั๋วเครื่องบินไปแอฟริกาเลือกนามิเบียเป็นที่แรก
                ตอนนั้นยังถ่ายรายการไม่เป็นเคยแต่เป็นพิธีกรกับเขียนบท แต่คิดในใจแล้วว่า
                “ต่อให้ทำไม่ได้ก็ไม่เป็นไรเพราะไปด้วยเงินตัวเอง กลับมาค่อยตัดต่อเอาแล้วขายตามช่องต่าง ๆ”
                นั่นคือจุดเริ่มต้นของเถื่อนทราเวล ซึ่งไม่ได้คิดว่าจะมีคนดูมากมายขนาดนี้ คิดว่าได้ทำก็บุญแล้ว</a>.
        </div>
        <div class="alert alert-info">
            <strong>ใช้หลักเกณฑ์หรือมุมมองในการเลือกสถาน</strong><br>
            <p>“อันดับแรกเลยคือความอยากรู้ส่วนตัว เป็นคนอยากรู้อยากเห็นมาตั้งแต่เด็ก ไม่ว่าจะเขตสงคราม ธุรกิจเอวี
                เรื่องชาวเผ่า พวกเหยียดสีผิว
                เราอยากรู้ทุกเรื่อง ส่วนปัจจัยที่สองคือช่อง เพราะว่าไม่ได้ใช้ทุนตัวเองแล้ว
                ทางช่องจึงเข้ามาช่วยคัดเลือกสถานที่และเรื่องราว
                ปัจจัยสุดท้ายก็คือแฟน ๆ พอจบซีซั่นแรก กลุ่มแฟนก็เสนอหัวข้อเข้ามาอย่างเช่นเรื่องเผ่ากินคนในปาปัว
                ตรงนี้ก็เป็นไอเดียด้วยเหมือนกัน”</p>
        </div>
        <div class="alert alert-warning">
            <strong>ทำไมถึงกล้าลงพื้นที่คนเดียว และพื้นที่ไหนเข้ายากที่สุด</strong><br>
            <p>“จริง ๆ นักข่าวที่ทำงานคนเดียวในต่างประเทศมีเยอะมาก มันคล่องตัวและไม่เป็นเป้าสายตา
                เพราะเราไม่สามารถขออนุญาตได้ 100% ทุกครั้ง
                เดินไปคนเดียวถือกล้องโกโปรก็ทำรายการได้ บางวันใช้มือถือถ่ายก็มี ส่วนสถานที่ที่เข้ายากไม่ใช่เกาหลีเหนือ
                แต่กลับเป็นอัฟกานิสถานที่ขอวีซ่ายากกว่า
                เราต้องติดต่อ UN ที่ทำงานที่นั่นเพื่อให้ออกจดหมายรับรองว่าเราไปทำงานให้
                จากนั้นเจอกับเจ้าหน้าที่ที่บังเอิญเดินทางเข้ามาในประเทศไทย
                แต่เขาไม่มีโทรศัพท์สำหรับบ้านเราจึงต้องให้อีเมลรูปหน้าเขามาและผมต้องไปเดินหาในวันเวลาที่นัดกัน
                พอบินไปถึงปรากฏว่าโดนยึดพาสสปอร์ตที่สนามบิน
                คนที่นัดกันไว้ก็หาย หลายเหตุการณ์มาก ๆ เสียวที่สุดเพราะมันเป็นเขตสงครามของจริง เห็นความเวิ้งว้าง
                แห้งแล้ง
                ตึกที่โดนระเบิดทำลาย พอเห็นแล้วก็ถามตัวเองว่า เก่งพอจะทำสิ่งนี้ได้จริงไหม ความกลัวตายก็โผล่ออกมาชัดเจน
                แต่ก็ทำงานผ่านกลับมาได้”</p>
        </div>
        <div class="alert alert-danger">
            <strong>เหตุการณ์ไหน ที่ประทับใจในตัวของผู้คนในดินแดนขัดแย้งที่ได้ไปเยือนมากที่สุด</strong> <br>
            <p>“ประทับใจเพื่อนคนหนึ่งในอัฟกานิสถานชื่อว่า “คาเดีย” เขาเป็นฟิกเซอร์ที่ช่วยงาน
                ชอบในความพยายามค้นหาโอกาสให้กับตนเอง
                เงื่อนไขในการใช้ชีวิตในประเทศนั้นลำบากมาก แต่เขายังหาโอกาสให้ตัวเองได้เรียนภาษาอังกฤษ ได้เป็นนักข่าว
                ได้ทำงานเลี้ยงครอบครัวที่มีพี่น้องอีกสิบกว่าคน
                อีกเรื่องหนึ่งคือคนโคลัมเบีย รอบตัวมักมีคนโดนฆ่า โดนลักพาตัว แต่เป็นประเทศที่อารมณ์ดีมาก
                ถึงแม้จะผ่านเหตุการณ์พวกนี้มามากแต่เขายังยิ้มแย้มสนุกสนานอยู่ตลอด”</p>
        </div>
        <div class="alert alert-primary">
            <strong>ดูแลความปลอดภัย</strong> <br>
            <p>“อาจยังดวงดีอยู่ เลยยังไม่เคยโดนขโมยหรือโดนปล้น จริง ๆ ไม่ได้ลงพื้นที่คนเดียวแต่จะมีไกด์
                มีฟิกเซอร์อยู่ด้วย
                ถ้าตรงไหนไม่ควรถ่ายหรือถ่ายแล้วมีปัญหาเขาก็จะบอกว่าเอากล้องลง
                เพราะเวลาถ่ายงานเราจะโฟกัสกับสิ่งที่ถ่ายจนลืมความปลอดภัยไป”</p>
        </div>

        <div class="alert alert-secondary">
            <strong>มีความคิดเห็นแปลก ๆ จากคนที่มีมุมมองต่อโลกภายนอกต่างจากคุณบ้างไหม</strong> <br>
            <p>“ความคิดเห็นแปลก ๆ ในบางครั้งก็มีประโยชน์ เช่น ตอนที่ไปเกาหลีเหนือก่อนรายการจะออนแอร์
                ได้เอาภาพมาลงเฟซบุ๊กแล้วพูดว่าเปียงยางเป็นเมืองที่ใหญ่มากกว่าที่คิด
                ตอนนั้นก็โดนว่าเยอะมาก เพราะถูกคิดว่าอวยระบบเผด็จการ ทำให้ได้กลับมาคิดว่า ถ้าอยากจะทำงานทางด้านสื่อ
                ก็ควรจะรัดกุมกว่านี้”</p>
        </div>
        <div class="alert alert-dark">
            <strong>การใช้วิธีคิดแบบเศรษฐศาสตร์ทำให้มองเห็นพื้นที่ขัดแย้งเหล่านั้นต่างไปจากคนรอบตัวบ้างไหม</strong><br>
            <p>“ไม่รู้ว่าเป็นเพราะจบเศรษฐศาสตร์รึเปล่า แต่รู้สึกอึดอัดใจในความขัดแย้ง เมื่อโอกาสทางเศรษฐกิจน้อย ผู้คนที่หาเช้ากินค่ำก็ยิ่งต้องไขว่คว้าหาโอกาสมากขึ้น
                ถ้ามีอำนาจต่อรองที่ดีพอ ผู้คนก็จะรวมกันและพัฒนาเศรษฐกิจต่อไป แต่สงครามมักเกิดจากการที่ไม่ได้แบ่งสรรอำนาจกัน
                พอความขัดแย้งมีมากขึ้นความรุนแรงจึงเข้ามาจัดการแทน”</p>
        </div>
        <div class="alert alert-light">
            <strong>วรรณสิงห์เมื่อสิบกว่าปีก่อนเทียบกับปัจจุบันมีมุมมองเรื่องความเป็นมนุษย์เหมือนหรือต่างกันขนาดไหน</strong><br>
            <p>“ต่างกันเยอะ เมื่อสิบปีก่อนตัวเรามีคอนเซปเกี่ยวกับความถูกต้องชัดเจน สังคมชนิดใดคือสังคมที่ดีที่สุด ปัจจุบันนี้ก็ยังเชื่อถือแบบนั้นอยู่
                เพียงแต่ความคิดชนิดที่ว่ามนุษย์ทุกคนต้องเดินไปทางเดียวกัน อคติแบบนั้นมันละลายหายไปพร้อมกับการเดินทาง”</p>
        </div>

         <div class="alert alert-warning">
            <strong>ขอคำแนะนำสำหรับคนอยากออกไปเที่ยวเถื่อน ๆ บ้าง แต่ยังไม่กล้า</strong><br>
             <p>“ก็แนะนำให้เข้าไปที่ใกล้ ๆ อย่างสลัมคลองเตยก่อน สัมผัสความเป็นอยู่ ไปด้วยความอยากรู้ว่าเขาอยู่อย่างไร กินอย่างไร</p></div>

        <div class="alert alert-success">
            <strong>อะไรคือเหตุผลที่ทำให้คุณดูเป็นคนที่มีพลังชีวิตเหลือล้นขนาดนี้</strong><br>
            <p>“พอพูดก็รู้สึกได้ว่าเวลาเดินทางมันมีความสุขจริง ๆ มันเป็นสิ่งที่ทำแล้วรู้สึกว่า นี่เป็นที่ที่ควรอยู่ ถ้าให้เลือกงานทั้งหมดบนโลกใบนี้
                ณ ตอนนี้ ในวัยนี้ ก็เลือกงานนี้อยู่ดี ไม่ได้อยากเป็นอย่างอื่นแล้ว ทำอย่างมีความสุขและมี passion
                ยิ่งเรารู้ว่าสิ่งที่ทำมันมีความหมายกับผู้คนจำนวนมากยิ่งช่วยเพิ่มแรงให้ได้โดยที่ไม่ต้องมานั่งบิ้ว”
                สิ่งที่น่าประทับใจที่สุดในการคุยกับ สิงห์ วรรณสิงห์ ไม่ใช่แค่เพลิดเพลินไปกับประสบการณ์ที่เขาถ่ายทอดออกมา
                ไม่ใช่แค่ความตื่นเต้นไปกับเหตุการณ์ที่เขาเจอ และไม่ใช่แค่การชื่นชมในความกล้าที่เดินไปในที่เสี่ยงอันตราย
                แต่กลับได้เห็นแบบอย่างของคนที่กำลังเดินตามความฝัน แล้วพยายามทำมันให้ดีที่สุด</p>
        </div>
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <center>
                <div class="carousel-item active">
                    <img src="{% static 'images/day.jpg' %}" alt="" class="d-block" style="width:60%">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/เถื่อน1.jpg' %}" alt= class="d-block" style="width:60%">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/เถื่อน2.png' %}" alt=class="d-block" style="width:60%">
                    <div class="carousel-caption">

                    </div>
                </div>
            </center>
        </div>


        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="container-fluid mt-3">

    </div>

    </div>
    </html>

{% endblock %}
