{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <div class="container-fluid text-warning text-center">
        <h1><img class='card-img-top' src="{% static 'images/Jiew9.FREITAH.jpg' %}" alt="Card image"></h1>
        <p>
        <h2></h2>
    </div><br>

    <div class="container-fluid text-warning text-center">
        <h1><img class='card-img-top' src="{% static 'images/ff.png' %}" alt="Card image"></h1>
        <p>
        <h2></h2>
    </div>

    <div class="row text m-4">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/01.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 8500 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/02.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 8500 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;

        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/3.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 15000 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/4.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 7400 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>
    </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <div class="row text" style="padding: 30px 20px;">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/5.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 5400 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/6.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 1050 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/7.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 1050 บาท </h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'images/8.jpg' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-dark">ราคา 8500 บาท</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">สั่งซื้อ</a>
            </div>
        </div>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
                </div>
     </div>

{% endblock %}